nav img {
    height: 48px;
    width: 48px;
}

article {
    margin-left: 35px;
    margin-right: 35px;

}

p {
    border-bottom: 1px solid #4297d7;
    line-height: 100%;
}


.tooltip-inner {
    transform: translate(0,55px);
}

img {
    margin:0 10px 0 10px;
}

#ex1Slider{
    /* position: fixed;
    right: 5px;
    top: 13px; */
    margin: 0 10px 0 10px
}